.resultado {
  display: none;
  text-align: center;
}
  
.botonReboot {
  display: none; 
  text-align: center;
}

  .texto-resultado {
    font-family: 'Bebas neue', cursive;
    text-align: center;
    color: aliceblue;

  }

  .fondo_burger {
    background-image: url("imgs/fondo_tarjeta_terraza.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .texto-web {
    color: aliceblue;
    font-family: 'oswald', cursive;
    font-weight: 600;
    font-size: 1,8rem;


  }

  .interlineado-menu {
    line-height: 1.2rem;

  }
  .texto-carrito {
    color: aliceblue;
    font-family: 'oswald', cursive;
    font-weight: 300;
    font-size: 0.92rem;


  }

  body {

    width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  .contenedor-portada-index {
    padding: 5rem 0 5rem 0;
    height: 25rem;
    background-image: url("../imgs//portada_indezx.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contenedor-boton-portada {
    width: 10rem;
    justify-content: center;
  }

  .fondo_terraza {
    background-image: url("imgs/fondo_tarjeta_terraza.webp"); 
    background-repeat: no-repeat;
    background-size: cover;
  }
